<!-- <link href='//unpkg.com/@icon/devicons@1.8.0-alpha.2/devicons.css' rel='stylesheet' /> -->

<div class="content-2" *ngIf="showProfile">
  <div class="card-2">
    <div class="firstinfo"><img src="https://www.devday.be/img/speakers/david-gilson.jpg"/>
      <div class="profileinfo">
        <h1>David Gilson</h1>
        <h3>Angular Ninja</h3>
        <p class="bio">Always test, learn and adopt new technologies. Satisfied by learning.</p>
      </div>
    </div>
  </div>
  <div class="badgescard" *ngIf="showSpecs">
      <span class="devicons devicons-angular"></span>
      <span class="devicons devicons-dotnet"></span>
      <span class="devicons devicons-docker"></span>
      <span class="devicons devicons-npm"></span>
      <span class="devicons devicons-javascript_badge"></span>
      <span class="devicons devicons-nodejs_small"></span>
      <span class="devicons devicons-terminal"> </span>
      <span class="devicons devicons-github_badge"> </span>
  </div>
</div>
