<!-- <link href='//unpkg.com/@icon/devicons@1.8.0-alpha.2/devicons.css' rel='stylesheet' /> -->

<div class="content-2" *ngIf="showProfile">
  <div class="card-2">
    <div class="firstinfo"><img src="https://www.devday.be/img/speakers/david-gilson.jpg"/>
      <div class="profileinfo">
        <h2>David Gilson</h2>
        <p class="sub">Open source Enthusiast</p>
        <p class="bio">Test, learn and adopt new technologies. Satisfied by learning.</p>
      </div>
    </div>
  </div>
  <div class="badgescard" *ngIf="showSpecs">
      <span class="devicon-angularjs-plain"></span>
      <span class="devicon-dot-net-plain"></span>
      <span class="devicon-docker-plain"></span>
      <span class="devicon-npm-original-wordmark"></span>
      <span class="devicon-typescript-plain"></span>
      <span class="devicon-nodejs-plain"></span>
      <span class="devicon-github-plain"></span>
      <span class="devicon-ionic-original"></span>
      <span class="devicon-electron-original"></span>
  </div>
</div>
