<!-- <nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>Angular</nb-accordion-item-header>
    <nb-accordion-item-body>
        <nb-list>
            <nb-list-item>
                Coucou
            </nb-list-item>
        </nb-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
      <nb-accordion-item-header>.NET</nb-accordion-item-header>
      <nb-accordion-item-body>
        Item Content
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion> -->

<h2>Formations</h2>

<nb-card size="small">
    <nb-card-header>
        <h3><span class="devicons devicons-angular"></span> Angular</h3>
    </nb-card-header>
    <nb-list>
        <nb-list-item><a href="assets/formations/angular/Angular - Les fondamentaux.pdf" download>Les Fondamentaux</a></nb-list-item>
        <nb-list-item><a href="assets/formations/angular/Angular - et les stores avec NGRX.pdf" download>Les stores avec NGRX</a></nb-list-item>
        <nb-list-item><a href="assets/formations/angular/Testing Angular.pdf" download>Le testing</a></nb-list-item>
        <nb-list-item><a href="assets/formations/angular/Angular - Universal.pdf" download>Universal</a></nb-list-item>
        <nb-list-item><a href="assets/formations/angular/WebComponents.pdf" download>Web Components</a></nb-list-item>
    </nb-list>
</nb-card>
<nb-card size="small">
    <nb-card-header>
      <h3><span class="devicons devicons-dotnet"></span> .NET</h3>
    </nb-card-header>
    <nb-list>
      <nb-list-item><a href="assets/formations/dotnet/Core avec VSCode et Docker.pdf" download>ASP.NET Core avec VisualStudio Code</a></nb-list-item>
      <nb-list-item><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=NPY7cbPz4uo">ASP.NET Core SignalR</a></nb-list-item>
      <nb-list-item><a href="assets/formations/dotnet/Kafka.pdf" download>Kafka</a></nb-list-item>
    </nb-list>
</nb-card>