:host nb-layout-header a.toggle {
    font-size: 2rem;
    text-decoration: none;
    margin-right: 10px;
}

.logo {
    color: #4684ee;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 1.5em;
}